name: Acquire Unity Activation File

on:
  workflow_dispatch: {}

jobs:
  activation:
    name: Request activation file
    runs-on: ubuntu-latest
    steps:
      - name: Request manual activation file
        id: getManualLicenseFile
        uses: game-ci/unity-request-activation-file@v2
        with:
          unityVersion: '6000.3.10f1'

      - name: Expose as artifact
        uses: actions/upload-artifact@v4
        with:
          name: Unity_v6000.3.10f1.alf
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}
